html, body {
  height: 100%;
}

body {
  background-image: url('cork.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.image-with-pin {
  position: relative;
}

.image-with-pin::after {
  content: '';
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 25px;
  height: 25px;
  background-color: #e74c3c;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.photo-tilt-left {
  transform: rotate(-5deg);
  transition: transform 0.2s ease-in-out;
}

.photo-tilt-right {
  transform: rotate(5deg);
  transition: transform 0.2s ease-in-out;
}

.image-with-pin:hover img {
    transform: rotate(0deg) scale(1.05);
}
