body {
  background-image: url('https://www.benjaminmoore.com.au/cdn/shop/products/D1B071_1200x.png?v=1634147054');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
